asgiref==3.11.1
attrs==26.1.0
azure-ai-ml==1.32.0
azure-common==1.1.28
azure-core==1.39.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-identity==1.25.3
azure-mgmt-core==1.6.0
azure-monitor-opentelemetry==1.8.7
azure-monitor-opentelemetry-exporter==1.0.0b51
azure-storage-blob==12.28.0
azure-storage-file-datalake==12.23.0
azure-storage-file-share==12.24.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
cryptography==47.0.0
idna==3.13
importlib-metadata==8.7.1
isodate==0.7.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
marshmallow==3.26.2
msal==1.36.0
msal-extensions==1.3.1
msrest==0.7.1
oauthlib==3.3.1
opentelemetry-api==1.40.0
opentelemetry-instrumentation==0.61b0
opentelemetry-instrumentation-asgi==0.61b0
opentelemetry-instrumentation-dbapi==0.61b0
opentelemetry-instrumentation-django==0.61b0
opentelemetry-instrumentation-fastapi==0.61b0
opentelemetry-instrumentation-flask==0.61b0
opentelemetry-instrumentation-logging==0.61b0
opentelemetry-instrumentation-psycopg2==0.61b0
opentelemetry-instrumentation-requests==0.61b0
opentelemetry-instrumentation-urllib==0.61b0
opentelemetry-instrumentation-urllib3==0.61b0
opentelemetry-instrumentation-wsgi==0.61b0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.40.0
opentelemetry-semantic-conventions==0.61b0
opentelemetry-util-http==0.61b0
packaging==26.2
psutil==7.2.2
pycparser==3.0
pydash==8.0.6
pyjwt==2.12.1
python-dateutil==2.9.0.post0
pyyaml==6.0.3
referencing==0.37.0
requests==2.33.1
requests-oauthlib==2.0.0
rpds-py==0.30.0
six==1.17.0
strictyaml==1.7.3
tqdm==4.67.3
typing-extensions==4.15.0
urllib3==2.6.3
wrapt==1.17.3
zipp==3.23.1
